<%= form_for([@comment.post, @comment], remote: true) do |f| %>
<div class="field form-group">
    <%= f.label :content, "Editar Comentario" %><br>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Edit Comment", class: 'btn btn-primary' %>
  </div>
</br>
<% end %>