<form novalidate="novalidate" class="simple_form new_applicant" id="new_applicant" action="/applicants" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="FOl40T2QqV6xUa8wx+QEQ6N0M/clrYA8im2RxrUEWqnTJz5NVANVet9tQ9Xoj2hReLyR9NxTEZLoshlp6+yS9w==" />
  

  <div class="form-inputs">
    <div class="form-group string optional applicant_name"><label class="string optional control-label" for="applicant_name">Name</label><input class="string optional form-control" type="text" name="applicant[name]" id="applicant_name" /></div>
    <div class="form-group string optional applicant_lastname"><label class="string optional control-label" for="applicant_lastname">Lastname</label><input class="string optional form-control" type="text" name="applicant[lastname]" id="applicant_lastname" /></div>
    <div class="form-group email optional applicant_email"><label class="email optional control-label" for="applicant_email">Email</label><input class="string email optional form-control" type="email" name="applicant[email]" id="applicant_email" /></div>
    <div class="form-group tel optional applicant_phone"><label class="tel optional control-label" for="applicant_phone">Phone</label><input class="string tel optional form-control" type="tel" name="applicant[phone]" id="applicant_phone" /></div>
  </div>

  <div class="form-actions">
    <input type="submit" name="commit" value="Create Applicant" class="btn btn-default" />
  </div>
</form>
