
  <div class="col-md-5 col-md-offset-1">
    <h2>Posts</h2>
  </div>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <%= link_to new_post_path, id:"new-button",remote: true do %>
      <button class="btn btn-primary">New</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="post-form" style="display:none"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="posts"><%= render @posts %></div>
</div>
<script>

</script>